<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube - Storyboard</title>
    <style>
        body{
            background-color:black;
            color:white;
            font-size: small;
            margin:10px;
        }
    </style>
</head>
<body>
    <iframe width="560" height="315" src="{{YoutubeUrl}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>
        {{ImagesCount}} image(s) found.
    </div>
    <div>
        {{#each Images}}
        <div>
            <image title="{{Title}}" src="{{Url}}"></image>
        </div>
        {{/each}}
    </div>
</body>
</html>